<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/public/script.js"></script>
    <title></title>
</head>
<body>

<div id="hangmanDiv" class="">
<h2 class="text-center">Gra w wisielca</h2>

    <div id="alphabetDiv" class="">

        <div class="button-letter__wrapper"><button id='ALetter' class="button button-letter">A</button></div>
        <div class="button-letter__wrapper"><button id='ĄLetter' class="button button-letter">Ą</button></div>
        <div class="button-letter__wrapper"><button id='BLetter' class="button button-letter">B</button></div>
        <div class="button-letter__wrapper"><button id='CLetter' class="button button-letter">C</button></div>
        <div class="button-letter__wrapper"><button id='ĆLetter' class="button button-letter">Ć</button></div>
        <div class="button-letter__wrapper"><button id='DLetter' class="button button-letter">D</button></div>
        <div class="button-letter__wrapper"><button id='ELetter' class="button button-letter">E</button></div>
        <div class="button-letter__wrapper"><button id='ĘLetter' class="button button-letter">Ę</button></div>
        <div class="button-letter__wrapper"><button id='FLetter' class="button button-letter">F</button></div>
        <div class="button-letter__wrapper"><button id='GLetter' class="button button-letter">G</button></div>
        <div class="button-letter__wrapper"><button id='HLetter' class="button button-letter">H</button></div>
        <div class="button-letter__wrapper"> <button id='ILetter' class="button button-letter">I</button></div>
        <div class="button-letter__wrapper"><button id='JLetter' class="button button-letter">J</button></div>
        <div class="button-letter__wrapper"> <button id='KLetter' class="button button-letter">K</button></div>
        <div class="button-letter__wrapper"> <button id='LLetter' class="button button-letter">L</button></div>
        <div class="button-letter__wrapper"> <button id='ŁLetter' class="button button-letter">Ł</button></div>
        <div class="button-letter__wrapper"><button id='MLetter' class="button button-letter">M</button></div>
        <div class="button-letter__wrapper"><button id='NLetter' class="button button-letter">N</button></div>
        <div class="button-letter__wrapper"> <button id='ŃLetter' class="button button-letter">Ń</button></div>
        <div class="button-letter__wrapper"><button id='OLetter' class="button button-letter">O</button></div>
        <div class="button-letter__wrapper"><button id='ÓLetter' class="button button-letter">Ó</button></div>
        <div class="button-letter__wrapper"><button id='PLetter' class="button button-letter">P</button></div>
        <div class="button-letter__wrapper"><button id='QLetter' class="button button-letter">Q</button></div>
        <div class="button-letter__wrapper"><button id='RLetter' class="button button-letter">R</button></div>
        <div class="button-letter__wrapper"><button id='SLetter' class="button button-letter">S</button></div>
        <div class="button-letter__wrapper"><button id='ŚLetter' class="button button-letter">Ś</button></div>
        <div class="button-letter__wrapper"><button id='TLetter' class="button button-letter">T</button></div>
        <div class="button-letter__wrapper"><button id='ULetter' class="button button-letter">U</button></div>
        <div class="button-letter__wrapper"><button id='VLetter' class="button button-letter">V</button></div>
        <div class="button-letter__wrapper"> <button id='WLetter' class="button button-letter">W</button></div>
        <div class="button-letter__wrapper"><button id='XLetter' class="button button-letter">X</button></div>
        <div class="button-letter__wrapper"><button id='YLetter' class="button button-letter">Y</button></div>
        <div class="button-letter__wrapper"><button id='ZLetter' class="button button-letter">Z</button></div>
        <div class="button-letter__wrapper"><button id='ŹLetter' class="button button-letter">Ź</button></div>
        <div class="button-letter__wrapper"><button id='ŻLetter' class="button button-letter">Ż</button></div>

    </div>

</div>


</body>
</html>